@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #ebfbee;
    font-family: 'Roboto', sans-serif;
}
nav {
    background-color: #b2f2bb;
    width: 100vw;
    height: 16vh;
    box-shadow: 2px 2px 5px #2b8a3e;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    padding: 1vw;
}
nav ul {
    display: flex;
}
.btn-top {
    background-color: #37b24d;
    padding: 10px;
    margin: 20px;
    border-radius: 12px;
}
.btn-top a {
    text-decoration: none;
    color: #ebfbee;
}

/*corpo*/
main {
    width: 100vw;
    display: flex;
}

.market {
    width: 80vw;
    height: 100vh;
}

.cart {
    width: 20vw;
    height: 100vh;
}

.sec {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #1B1B1B;
    padding: 12px;
    margin: 5px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    
}
.products2 {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 207px;
    height: 275px;
    background-color: #d3f9d8;
    margin: 2vh;
}
.card img {
    width: 16vw;
    height: 15vw;
    
}
.card span {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #2b8a3e;
    margin: 1vh;
}
.card p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #37b24d;
    margin-bottom: 3px;
    margin-bottom: 1vh;
}
.card button {
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    border: none;
    background-color: #2f9e44;
    color: #ebfbee;
    padding: 5px;
    border: none;
}
/* carrinho de compras */

.cart {
    margin: 1vw;
    display: flex;
    flex-direction: column;
}
.top-cart {
    background-color: #2f9e44;
    color: #fff;
    width: 90%;
    height: 6vh;
    align-items: center;
    border-radius: 8px;
    margin: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: space-between;
}
.cart-item { 
    background-color: #b2f2bb;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    margin: 1vh 1vw;
    border-radius: 8px;
}
.div-soma {
    display: flex;
    justify-content: space-between;
    background-color: #d3f9d8;
    padding: 1vh;
    margin:1vh 1vw;
    border-radius: 8px;
    height: 6vh;
    align-items: center;
}
.cart-btn {
    background-color: #37b24d;
    color: #fff;
    padding: 1vh 5vw;
    margin: 20px;
    border: none;
    border-radius: 12px;
}

/*rodapé*/
footer {
    position: absolute;
    background-color: #b2f2bb;
    width: 100vw;
    height: 10vh;
    
}
.rodape {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    align-items: center;
    color: #51cf66;
    
}
footer span a {
    text-decoration: none;
    color: #2b8a3e;
    padding: 5px;
}